PORT=5000
MONGODB_URI=mongodb+srv://hemrajjhariya02_db_user:Hardik@2025@cluster0.8pbldut.mongodb.net/?appName=Cluster0
JWT_SECRET=Wrt5865
JWT_EXPIRES_IN=6h
ADMIN_USERNAME=hemraj
ADMIN_PASSWORD=Hardik@2025
CORS_ORIGIN=http://localhost:5173/
